.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-jbyd {
  background-color: #ffffff;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}
.tg .tg-iks7 {
  background-color: #ffffff;
  border-color: #000000;
  text-align: left;
  vertical-align: top;
}
/* --------------------------------------------------------------------- */
.tg2 {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg2 td {
  border-color: black !important;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 3px 5px;
  word-break: normal;
}
.tg2 th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 5px 5px;
  word-break: normal;
}
.tg2 .tg2-g5xs {
  font-size: 11px;
  text-align: center;
  vertical-align: top;
}
.tg2 .tg2-yreg {
  background-color: #ffffff;
  border-color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}
.tg2 .tg2-lm6i {
  border-color: inherit;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.tg2 .tg2-vj5q {
  background-color: #ffffff;
  border-color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.tg2 .tg2-gzo9 {
  border-color: inherit;
  font-size: 11px;
  text-align: center;
  vertical-align: top;
}
.tg2 .tg2-uk0v {
  background-color: #ffffff;
  border-color: #000000;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.tg2 .tg2-6u1a {
  background-color: #ffffff;
  border-color: #000000;
  font-size: 11px;
  text-align: center;
  vertical-align: top;
}
.tg2 .tg2-b56p {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
/* ----------------------------------------------------------------------------------------------- */
.tg3 {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg3 td {
  border-color: black !important;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg3 th {
  border-color: black !important;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: auto;
  padding: 10px 5px;
  word-break: normal;
  /* width: min-content; */
}
.tg3 .tg3-qcxc {
  border-color: inherit;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}
.tg3 .tg3-zusl {
  background-color: #ffffff;
  border-color: inherit;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.tg3 .tg3-baqh {
  text-align: center;
  vertical-align: top;
}
.tg3 .tg3-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}
.tg3 .tg3-hx99 {
  background-color: #ffffff;
  border-color: inherit;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}
.tg3 .tg3-nm7b {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}
.tg3 .tg3-3xi5 {
  background-color: #ffffff;
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}
.tg3 .tg3-0lax {
  text-align: left;
  vertical-align: top;
}
.tg3 .tg3-rvyq {
  border-color: inherit;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
/* ----------------------------------------------------------------------------------------------- */
.tg4 {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg4 td {
  border-color: black !important;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg4 th {
  border-color: black !important;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg4 .tg4-xsic {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}
.tg4 .tg4-jepv {
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}
.tg4 .tg4-ki02 {
  background-color: #ffffff;
  border-color: inherit;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}
.tg4 .tg4-0lax {
  text-align: center;
  vertical-align: top;
}
